<!DOCTYPE html>
<html>
    <head>
        <title>Succes!</title>
    </head>
    <body>
        <div id="anouncementBanner">
            <section>
                <h1 id="title">Your submition has been accepted</h1>
                <p>
                    Your submition has been succesfully accepted, your user has already
                    been created. Whe hope you enjoy our page. <br>Click the button below to 
                    be sent towards your profile main page. 
                </p>
                <button type="button">Go to main user page</button>
            </section>
        </div>
    </body>
</html>