<!DOCTYPE html>

<head>

</head>
<body>
    <section>
        <form action="/getting_in/sign_in_result" method="post">
            <h2>Sign in</h2>
            <p>
                <label for="unique_user_name">Unique user name</label>
                <p></p>
                <input type="text" name="unique_user_name" id="" placeholder="molly_dot" required>
            </p>
            <p>
                <label for="public_user_name">Public user name</label>
                <p></p>
                <input type="text" name="public_user_name" id="" placeholder="##_molly_dot_##" required>
            </p>
            <p>
                <label for="_password">Password</label>
                <p></p>
                <input type="password" name="_password" id="" placeholder="**********" required>
            </p>
            <p>
                <label for="e-mail">e-mail (optional)</label>
                <p></p>
                <input type="text" name="e-mail" id="" placeholder="myself@me.com">
            </p>
            <p>
                <label for="submit_button">Submit button</label>
                <p></p>
                <button type="submit" name="submit_button">Submit</button>
            </p>
        </form>
    </section>
    <footer>
    
    </footer>
</body>